<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
     <link rel="stylesheet" type="text/css" href="../static/rest.css" />
    <title>Title</title>
</head>
<body>
<div class="center-wrapper">
    <div class="center">
        휴식 시간~~~
    </div>
</div>

<script>
    setTimeout(() => {
            console.log("실행")
            const searchParams = new URLSearchParams(location.search);
            window.location.href = 'http://127.0.0.1:5000/test4?idx=' + searchParams.get('idx') + '&date=' + searchParams.get('date')
        },
        30000
    );
</script>
</body>
</html>