<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/rest.css"/>
    <title>Rest</title>
</head>
<body>

<div class="rest-container">
    <img src="../static/img/rest.jpg" class="rest-img">
    <p class="rest-text">30초 동안 휴식을 취해주세요.</p>
</div>


<script>
    setTimeout(() => {
            const searchParams = new URLSearchParams(location.search);
            const loc = searchParams.get('loc')
            if (loc === 'home') {
                window.location.href = 'http://127.0.0.1:5000/home?idx=' + searchParams.get('idx') + '&date=' + searchParams.get('date');
            }
            if (loc === 'tv') {
                window.location.href = 'http://127.0.0.1:5000/tvcontrol?idx=' + searchParams.get('idx') + '&date=' + searchParams.get('date');
            }
            if (loc === 'call') {
                window.location.href = 'http://127.0.0.1:5000/call?idx=' + searchParams.get('idx') + '&date=' + searchParams.get('date');
            }
        },
        30000
    );
</script>
</body>
</html>