<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/test2.css"/>
     <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>
<body>
<div class="box-wrapper">
    <div class="box">
        <div class="left-wrapper">
            <img src="../static/img/check.jpg" class="left" width="400px" height="400px">
            <div class="left-text">도움</div>
        </div>
        <div class="right-wrapper">
            <img src="../static/img/check.jpg" class="right" width="400px" height="400px">
            <div class="right-text">TV</div>
        </div>
    </div>

    <div class="center">

    </div>
</div>

</body>
</html>
<script>
     setTimeout(()=>{
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:5000/analysis'
        })
        .then((res)=> console.log(res))
        .catch((e)=> {});
      }, 5000);
</script>