<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.9/brython.min.js"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.9/brython_stdlib.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"
        ></script>
        <title>Document</title>
    </head>
<body>
<video src="../static/img/tmp.mp4" controls width="1000px" height="1000px"></video>
<script>
    setTimeout(() => {
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:5000/analysis',
            success: function (data) {
                console.log(data)
                if (data.result != 0) {
                    window.location.href = 'http://127.0.0.1:5000/rest?idx=' + data.result.idx + '&date=' + data.result.date;
                }
            }
        })
            .catch((e) => {
            });
    }, 3000);
</script>
</body>
</html>

